/*-------HEADER------*/
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: white;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
  width: 400px;
  align-items: center;
}
#navbar .btn__register {
  width: 33%;
  text-align: center;
  font-weight: bold;
  color: #0065fc;
}
#navbar .btn__nav {
  padding: 20px 0;
  transition: color 300ms;
}
#navbar .btn__nav--active {
  color: #0065fc !important;
  border-top: 2px solid #0065fc;
}
#navbar .btn__nav:hover {
  color: rgba(0, 0, 0, 0.7);
}
#navbar nav {
  display: flex;
  justify-content: space-around;
  width: 66%;
}

/*-------SEARCH------*/
#search,
#lodgings,
#activities,
#famous {
  padding-top: 80px;
  margin-bottom: -80px;
}

.search-form {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  align-items: center;
  height: 40px;
}
.search-form__icon {
  background-color: #f2f2f2;
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 40px;
  border: 1px solid transparent;
  border-radius: 10px 0 0 10px;
}
.search-form__input {
  height: 36px;
}
.search-form__button {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  color: white;
  background-color: #0065fc;
  border: 1px solid transparent;
  border-radius: 0 10px 10px 0;
}

.filter-group {
  display: flex;
  flex-direction: row;
  font-weight: bolder;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
  width: 60vw;
}
.filter-group__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #f2f2f2;
  border-radius: 50px;
  padding: 0 10px;
  height: 34px;
}
.filter-group__button--icon {
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  background-color: #deebff;
  border-radius: 50px;
  padding: 7px;
  margin: 0 10px 0 -12px;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
}
.info__icon {
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 50px;
  padding: 2px;
  margin-right: 10px;
  text-align: center;
}

/*-------LODGINGS------*/
.lodgings-marseille {
  background-color: #f2f2f2;
  padding: 30px 30px;
  width: 60vw;
  border-radius: 30px;
  height: 650px;
}

.lodgings-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.lodging-card {
  width: 30%;
  height: 230px;
  background-color: white;
  padding: 4px;
  font-size: 12px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
  line-height: 10px;
  box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.1);
}
.lodging-card h2 {
  font-weight: bolder;
}
.lodging-card a img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.lodging-card__infos {
  margin-left: 10px;
}
.lodging-card__price {
  font-size: 15px;
}
.lodging-card__price--euros {
  font-weight: bolder;
}

.see-more {
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 10px;
}

/*-----FAMOUS-----*/
.more-famous {
  background-color: #f2f2f2;
  padding: 30px 30px;
  width: 25vw;
  border-radius: 30px;
  height: 650px;
}
.more-famous__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.more-famous__title--icon {
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  text-align: center;
}

.famous-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.famous-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 150px;
  background-color: white;
  padding: 4px;
  font-size: 12px;
  border-radius: 15px;
  align-items: center;
  box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.1);
  margin-bottom: 30px;
}
.famous-card h2 {
  font-weight: bolder;
}
.famous-card a {
  display: flex;
  flex-direction: row;
}
.famous-card a img {
  border-radius: 15px 0 0 15px;
  width: 30%;
  height: 150px;
  object-fit: cover;
}
.famous-card__infos {
  margin-left: 20px;
}
.famous-card__price {
  font-size: 15px;
  margin-bottom: 50px;
}
.famous-card__price--line {
  margin-bottom: 30px;
}
.famous-card__price--euros {
  font-weight: bolder;
}

.lodgings-famous-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  font-family: "Raleway", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: black;
}
body a {
  text-decoration: none;
}
body a:visited {
  color: black;
}

/*# sourceMappingURL=main.css.map */
