html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  font-family: "Raleway", sans-serif;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;

  margin: 0;
  padding: 0;
  color: black;
  a {
    text-decoration: none;
    &:visited {
      color: black;
    }
  }
}
#header,
#search,
.lodgings-famous-line,
#activities {
  width: 94vw;
  margin-left: 3vw;
}
